# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform logs
*.log

# Terraform variables files (if they contain sensitive information)
*.tfvars

# Generated plan files
*.plan

# The .terraform directory (used for plugins and module downloads)
.terraform/

# Lock file
terraform.lock.hcl